body {
    color:deeppink;
    text-align:center;
    margin: left 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;

     
    }
 h1{
     color:blueviolet;
    text-align:center;
    margin: left 85%;
    margin-right:auto;
    background-color:chartreuse;
    }

font-size:

}